/* 초기리셋 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
input::-webkit-contacts-auto-fill-button {visibility:hidden;display:none !important;pointer-events:none;position:absolute;right:0}
button{border:0 none;border-radius:0;background-color:transparent;cursor:pointer}
body{background:#1e1e1e;word-wrap:break-word;word-break:keep-all}
body,th,td,input,select,textarea,button{font-size:16px;line-height:1.5;font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;color:#666}
a{color:#333;text-decoration:none}
/* a:active, a:hover{text-decoration:underline} */
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
body {
    min-width: 1200px;
}

/* 기본 스타일 */
.pageWrap {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

/* 배너 스타일 */
.banner {
    width: 100%;
    position: relative;
}
.bannerInner {
    position: relative;
    max-height: 600px;
    overflow: hidden;
}
.bannerBg {
    width: 100%;
    vertical-align: middle;
}
.bannerText {
    position: absolute;
    top: 40%;
    left: 10%;
    line-height: 1.2;
}
.bannerText a {
    font-size: 2.6rem;
    font-weight: bolder;
    color: rgb(247, 247, 247);
    text-decoration: none;
}

/* 카드스타일 */
.cards {
    position: relative;
    min-width: 1000px;
    display: block;
}
.cardKakaoStyle {
    position: relative;
    min-width: 1100px;
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 3rem auto;
    padding-bottom: 2rem;
}
.cardBg {
    /* display: block; */
    background-image: url(./images/li-3.png);
    background-size: cover;
    margin: 0 3rem 0 auto;
    left: auto;
    top: auto;
    width: 55.25rem;
    height: 22.375rem;
}
.cardKakaoStyle a {
    text-decoration: none;
}
.cardTitle {
    font-size: 40px;
    color: rgb(0, 0, 0);
    line-height: 1.3;
}
.cardEnter {
    display: flex;
    align-items: center;
}
.cardTitle, .cardEnter {
    padding: 2rem 0 0 3rem;
}
.arrows {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.cardKakaoStyleVideo {
    position: relative;
    left: 0;
}
.cardKakaoStyleVideoInner {
    margin: 6rem 0 0 0;
    width: 100%;
}

/* 뉴스 스타일 */
.news {
    min-width: 1100px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.news p {
    color: rgb(0, 0, 0);
}
.newsInner {
    margin: 2rem auto 1rem auto;
    padding: 2rem;
    width: 22rem;
    /* border: 1px black solid; */
    display: inline-block;
}
.newsTitle {
    font-family: sans-serif;
    font-weight: 500;
}
.newsBody {
    font-size: 20px;
    margin: 1rem 0 0.5rem 0;
}
.newsDetail {
    
}
.newsDetail a {
    color: rgb(167, 167, 167);
    font-family: sans-serif;
    font-size: 14px;
}
.stockPrice {
    font-size: 32px;
}